# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.local
.env.*.local
!.env.example
!.env.production

# Docker volumes and SSL certs (generated on server)
docker/certbot/conf/
docker/certbot/www/

/app/generated/prisma

# Firebase
.firebase
firebase-debug.log
firebase-debug.*.log
.firebaserc.backup
